* {
	box-sizing: border-box;
}
.poetsen-one-regular {
	font-family: "Poetsen One", sans-serif;
	font-weight: 400;
	font-style: normal;
}

#root {
	min-height: 100dvh;
	background-image: url(https://picsum.photos/1920/1080);
	background-repeat: no-repeat;
	object-fit: contain;
}

.redesSociales {
	width: 40px;
	height: 40px;
}

.footer {
	background-color: rgba(0, 0, 0, 0.678);
	color: purple;
}

.iconoLogo {
	width: 75px;
	height: 75px;
}
