* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenedor {
	height: 100dvh;
	background-color: black;
	/* background-image: url(https://picsum.photos/2750/1280);
	background-repeat: no-repeat;
	object-fit: contain; */
}

.redesSociales {
	width: 40px;
	height: 40px;
}

.footer {
	background-color: rgba(0, 0, 0, 0.678);
	color: purple;
}

.iconoLogo {
	width: 75px;
	height: 75px;
}
